/.idea/.gitignore
/exps/baseline_h36m/.idea/.gitignore
/.idea/.name
/exps/baseline_h36m/.idea/.name
/exps/baseline_h36m/baseline.txt
/exps/baseline_h36m/.idea/baseline_h36m.iml
/exps/baseline_h36m/runs/*
/data/h36m/*
/data/amass/ACCAD/*
/data/amass/BioMotionLab_NTroje/*
/data/amass/CMU/*
/data/amass/EKUT/*
/data/amass/Eyes_Japan_Dataset/*
/data/amass/KIT/*
/data/amass/MPI_Limits/*
/data/amass/TCD_handMocap/*
/data/amass/TotalCapture/*
/data/3dpw/*
/exps/baseline_h36m/log/*
/.idea/misc.xml
/exps/baseline_h36m/.idea/misc.xml
/exps/baseline_h36m/log/snapshot/model-iter-5000.pth
/exps/baseline_h36m/log/snapshot/model-iter-10000.pth
/exps/baseline_h36m/log/snapshot/model-iter-15000.pth
/exps/baseline_h36m/log/snapshot/model-iter-20000.pth
/exps/baseline_h36m/log/snapshot/model-iter-25000.pth
/exps/baseline_h36m/log/snapshot/model-iter-30000.pth
/exps/baseline_h36m/log/snapshot/model-iter-35000.pth
/exps/baseline_h36m/log/snapshot/model-iter-40000.pth
/.idea/modules.xml
/exps/baseline_h36m/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/exps/baseline_h36m/.idea/inspectionProfiles/profiles_settings.xml
/.idea/swigluMLP.iml
/.idea/vcs.xml
/.idea/workspace.xml
/.results/*
/results/*.odt#
